---
---

@import "minima";

/* Hide automatic page titles */
.post-title {
  display: none;
}

body {
  background-color: #363232;
}

.home-page {
  padding: 40px;
  background: #d88787;
  border-radius: 16px;
}