---
---

@import "minima";

/* Hide automatic page titles */
.post-title {
  display: none;
}

body {
  background-color: #e09c9c;
}

.home-page {
  padding: 40px;
  background: #222;
  border-radius: 16px;
}